<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done | Pazar-Aapke Sapno Ka Bazaar</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        .container p{
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.</p>
    
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.</p>
    </div>
</body>
</html>