{% extends 'base.html' %}

{% block title %}Services |
{% endblock title %}

{% block css %}
.card{
    margin:5px;
}

{% endblock css %}

{% block body %}
<h2 class="text-center" style="color:blue; font-size:30px;">What are you looking for?</h2>
<div class="container-fluid my-1 p-1">
    <div class="card-group">
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?laptop" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Technology</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?taps,shower" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Plumbers</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?furnitures" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carpenters</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?wood,chairs" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Furnitures</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?cctv,camera" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CCTV Dealer</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?pencils,copy" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Stationery Items</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?sports,ground" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sports</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?food" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Restaurants</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?coffee" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Coffee Shop</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?aeroplane,flights" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tickets</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?malls,shopping" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shopping Malls</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
        <div class="card">
            <img src="https://source.unsplash.com/900x400/?home" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lodging</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-outline-primary">Get Services</button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}